---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    {% if post.description %}
        <p>{{ post.description }}</p>
    {% endif %}    
    <span class="post-date">{{post.date | date: '%Y-%m-%d'}}</span>
    {% if post.author %}
    <span class="post-date">&nbsp;&nbsp;&nbsp;&nbsp;{{post.author}}</span>
    {% endif %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
