<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <span><a class="newer-posts" href="{{ site.baseurl }}/">上一页</a></span>
        {% else %}
        <span><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/">上一页</a></span>
        {% endif %}
      {% endif %}

      <span><span class="page-number">第 {{paginator.page}} 页 / 共 {{paginator.total_pages}} 页</span></span>

      {% if paginator.next_page %}
      <span><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">下一页</a></span>
      {% endif %}
    </ul>
  </nav>
</div>

